<div style="text-align: center;color: rgb(196, 42, 109);font-weight: bolder;font-size: large;filter: drop-shadow(0 -1mm 6mm rgb(255, 255, 255));margin-top: 20%;"> 
  <p>The Fitness App</p>
</div>
<div>
  <img src="../../assets/logo.png" width="75%" style="margin-left:13.5% ;">
</div> 
<div style="text-align: center;color: rgb(196, 42, 109);font-weight: bolder;font-size: large;filter: drop-shadow(0 -1mm 6mm rgb(255, 255, 255));"> 
  <p style=" text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);font-size: xx-large;"(click)="sign()">CoreGoddess<span style="color: rgb(249, 54, 139);">PRO</span></p>
  
</div> 
<div class="col-12 Signin">
  <div class="col-3 center "> 
    <p style=" text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);"(click)="sign()">START </p>
  </div>
</div>
<marquee behavior="" direction="" scrollamount="2"><span style="font-weight: bolder;color : white">Don't wish for it; work for it. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Train like a beast, look like a Goddess."</span></marquee>
<!-- <div class="row popup" *ngIf="settingspop" style="text-align: center;">
  <h2>ALPHA CODE :</h2>
  <p style="color: white;">User need ALPHA code to access settings.</p>
  <input placeholder=""  [(ngModel)]="settingKey" class="input2" name="text" type="text" (keyup)="activateSettings()">
  <div class="row "   > 
    <h2 class="DAY" style="float: right; margin-right: 20px;" (click)="popClear2()" >Back</h2>
  </div>
</div> -->
<div *ngIf="showIcons">
  <div class="col-12  " style=" z-index:101 ;">
    <table  width="100%" >
      <tr width="100%" height="70px"> 
        <td   style="text-align:center ;" (click)="activateSettingsPop()"><img src="./../assets/EX/powerup.png" width="30%" style="border-radius: 30%;" ><br><span style="color:rgb(200, 74, 111) !important ; font-size: larger;font-weight: bold;">Settings</span></td> 
      </tr> 
    </table>
  </div>
</div>
 
<div *ngIf="settingspop" style="background-color:rgba(0, 0, 0, 0.623) ;padding: 5px 5px 5px 5px;border-radius: 10%; position: fixed;bottom: 1%;left: 1.5%;width:95%;z-index: 22;"> 
  <div class="col-12 berserk">
    <p class="Signin" style=" text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); text-align: right;padding-right: 20px;"><span (click)="closepop()" style="color: red;font-weight: bolder;font-size:xx-large; "><</span> </p>
  </div>
  <div class="col-12 berserk">
    <p style=" text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); ">~Settings~ </p>
  </div>
  <div class="col-12  " style=" z-index:101 ;color: white;">
    <table  width="100%" >
      <tr width="100%" height="70px">
        <td   style="text-align:left ;" >Multiplier :</td> 
        <td><input placeholder="1"   class="input" name="text" type="text"></td>
      </tr>
      <tr width="100%" height="70px">
        <td   style="text-align:left ;" >Day:</td>
        <td><input placeholder="Day" [(ngModel)]="updateDate"   class="input" name="text" type="text"></td> 
      </tr>
    </table>
  </div>
  <div class="col-12 berserk Signin" style="text-align:right ; ">
    <p style=" text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);padding-right: 30px; " (click)="Update()">Update</p>
  </div>
</div>  
 <div class="row popup" *ngIf="pop1">
  <h2>Are you sure to Update!</h2> 
  <div class="row "   >
    <h2 class="DAY" style="float: left; margin-left: 20px;" (click)="landingRoom()">YES </h2>
    <h2 class="DAY" style="float: right; margin-right: 20px;" (click)="popClear()" >NO</h2>
  </div>
</div> 
