<div class="row">
  <h2 class="whiteText">{{currentStep}}/{{fullCount}}</h2>
</div>
<div style="position:fixed;top:20px;right:20px;width:50px;" (click)="home()">
  <img src="../../assets/home.png" width="100%" style="margin-left:13.5% ;border-radius: 10px;">
</div>
<div class="row">
  <h1 class="whiteText">{{exName}} </h1>
</div>
<div class="row tm50">
  <h3 class="whiteText">{{exType}} </h3>
</div>
<div class="row">
  <img [src]="imgsrc" width="100%" style="max-height: 300px;" >
</div>
<div class="row center" *ngIf="CDay !== '4' && CDay !== '7'">
  <h2 class="whiteText" *ngIf="exName !== 'Warm Up Run'">{{reps}} reps, {{sets}} sets  </h2>
  <h2 class="whiteText" *ngIf="exName === 'Warm Up Run'">15 min</h2>
  <div *ngIf="exName === 'Warm Up Run'" style="   margin-top:30px; padding: 10px 10px 10px 10px;background-color:rgba(0, 0, 0, 0.623) "   >
    <div *ngIf="runstarted2 == false" style="color:rgb(255, 89, 89) ;">
      <span style="font-size:medium ;">GET READY</span><br>
      <span style="font-size:70px ;">  {{ countdownready | number: '2.0' }}</span><br>
    </div>
    <div *ngIf="runstarted2 == true" style="color:White ">
      <span style="font-size:70px ;">{{ minutes }} : {{ seconds | number: '2.0' }}</span><br>
    </div>
    <span *ngIf="runstarted==false" (click)="startrun()"><img src="../../assets/play.png" width="30px" style=" border-radius: 10px;"></span> 
    <span *ngIf="runstarted==true" (click)="resetCountdown()"><img src="../../assets/stop.png" width="30px" style=" border-radius: 10px;">
       
    </span><br> 
  </div>
</div>
<div class="row divNext" *ngIf="!finish" >
  <table class="row" style="padding-left: 40px;">
    <tr class="row">
      <td style="width:33.2%">
        <div class="btnNext" (click)="back()" *ngIf="currentStep!=1">
          <<
        </div>
      </td>
      <td style="width:33.2%"> 
        
      </td>
      <td style="width:33.2%">
        <div class="btnNext" (click)="restcoutdown()" >
          >>
        </div>
      </td>
    </tr>
  </table>
</div>  
<div *ngIf="finish" class="row center divNext" >
  <table class="row" style="padding-left: 40px;">
    <tr class="row">
      <td style="width:33.2%"> 
      </td>
      <td style="width:33.2%"> 
        <div class="btnNext" (click)="finished()">
          Finish
        </div>
      </td>
      <td style="width:33.2%"> 
      </td>
    </tr>
  </table>
  
</div>
<div *ngIf="rest==true" class="blur-content" style="width:100%;height:99.5vh;z-index:2000;position:fixed;top:0; left:0;padding-top: 200px; ">
  <span style="color:white; font-weight:bolder;font-size:xx-large; margin-left: 45%; margin-top: 40%;">Rest</span>
    
</div>
